<div class="text-center">
    <h1 class="display-4">Operaciones CRUD</h1>
    <h2 class="display-4">Lista de Profesores</h2>

    <a href="/Home/Crear" class="btn btn-primary">Crear Profesor</a>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Direccion</th>
                <th scope="col">Experiencia</th>
                <th scope="col">Certificaciones</th>
                <th scope="col">Habilidades</th>
                <th scope="col">Estado Profesor</th>
                <th scope="col">Documentos</th>
                <th scope="col">Tutor Activo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var profesor in Model)
            {
                <tr>
                    <td>@profesor.nombre</td>
                    <td>@profesor.correo</td>
                    <td>@profesor.telefono</td>
                    <td>@profesor.direccion</td>
                    <td>
                        @foreach (var experiencia in profesor.experiencia)
                        {
                            <span><strong>@experiencia.institucion</strong></span><br>
                            <span>@experiencia.puesto</span><br>
                            <span>@experiencia.fechaInicio</span><br>
                            <span>@experiencia.fechaFin</span><br>
                            <span>@experiencia.descripcion</span><br><br>
                        }
                    </td>
                    <td>
                        @foreach (var certificacion in profesor.certificaciones)
                        {
                            <span><strong>@certificacion.titulo</strong></span><br>
                            <span>@certificacion.institucion</span><br>
                            <span>@certificacion.fechaObtencion</span><br><br>
                        }
                    </td>
                    <td>
                        @foreach (var habilidad in profesor.habilidades)
                        {
                            <span>@habilidad</span><br>
                        }
                    </td>
                    <td>@profesor.estado</td>
                    <td>
                        @foreach (var documento in profesor.documentos)
                        {
                            <span><strong>@documento.tipo</strong></span>

                            <br>
                                <span>@documento.url</span><br>
                        }
                    </td>
                    <td>@(profesor.esTutor ? "Si" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
