@model List<CRUD_IngenieriaWeb.Models.Vacante>

<div class="text-center">
    <h1 class="display-4">Operaciones CRUD</h1>
    <h2 class="display-4">Lista de Profesores</h2>

    <a href="/Home/Crear" class="btn btn-primary">Crear Vacante</a>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Descripción</th>
                <th scope="col">Requisitos</th>
                <th scope="col">Fecha Publicación</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vacante in Model)
            {
                <tr>
                    <td>@vacante.titulo</td>
                    <td>@vacante.descripcion</td>
                    <td>
                        @foreach (var requisito in vacante.requisitos)
                        {
                            <span>@requisito</span>

                            <br>
                        }
                    </td>
                    <td>@vacante.fecha_publicacion</td>
                    <td>@vacante.estado</td>
                    <td>
                        <a asp-action="Editar" asp-route-idVacante="@vacante.id" class="btn btn-danger btn-sm">Editar <i class="bi bi-pencil-square"></i></a>
                        <a asp-action="Delete" asp-route-idVacante="@vacante.id" class="btn btn-warning btn-sm">Eliminar <i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
